#header{
	background-color: red;
	color: white;
	height: 100;
	width: 1330;
    
   
}
#news1,#news2,#news3,#news4,#news5,#news6,#news7{
	height: 120;
	width: 1330;
	border-style: solid;
	
}

#footer{
	position: fixed; 
    left: 0; bottom: 0; 
    height: 30;
    background-color: red; 
    color: #fff; 
    width: 100%; 

}